/* body {
    background-image: url('../../assets/cuadricula.png'); // Ruta a tu imagen
    background-repeat: repeat; // La imagen se repetirá en todo el fondo
    background-size: auto; // Tamaño original de la imagen
    background-position: top left; // Empieza desde la esquina superior izquierda
    margin: 0; // Elimina márgenes globales
    padding: 0; // Elimina paddings globales
  } */

  